#grid-container {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pixel {
    margin: 0;
    padding: 0;
    border-color: blueviolet;
    border-width: 1px;
    height: auto;
    flex-shrink: 0;
    /* width: 6.25%;
    height: 6.25%; */
}