#grid-container {
    display: flex;
    align-items: stretch;
    /* align-content: stretch; */
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
}

.pixel {
    /* margin: 0;
    padding: 0; */
    border-color: blueviolet;
    border-width: 1px;
    /* flex-shrink: 0; */
    /* width: 6.25%;
    height: 6.25%; */
}